// @import "/styles/breackpoints.scss";

%input {
    background: none;
    outline: none;
    border: none;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    margin-left: 20px;
    flex: 1 1 100%;
    display: block;
}


.parent__container {
    margin: 0 auto 0 auto;
    display: block;

    padding: 15px;
    max-width: 100%;
    min-height: 150px;
    position: relative;
    bottom: 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 20px 20px 0px 0px;    
}

.container {
    // margin: 0 auto 0 auto;

    .container__title {
        font-size: 18px;
        line-height: 21px;
        mix-blend-mode: normal;
        margin: 0 0 15px 0;
    }
    
    .booking {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;

        .cell {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 0 1 auto;
            min-height: 50px;
            border: 1px solid rgba(231, 231, 242, 0.3);
        }
        .form_input_wrap {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 auto;
        }
        img {
            opacity: 0.7;
            max-width: 28px;
            max-height: 28px;
            margin-left: 20px;
        }
        .address {
            border-radius: 10px 0 0 0;
        }
        .data_2 {
            border-radius: 0 10px 10px 0;
        }
        .guests {
            border-radius:  0 10px 10px 10px ;
        }
        label, select, input {
            @extend %input;
        }
        select:hover {
            background-color: rgba(86, 86, 86, 0.708);
        }
        input {
            line-height: normal;
            margin-right: 5px;
        }
        
        .btn {
            margin-left: 50px;
            min-width: 240px;
            min-height: 50px;
            background-color: #91CB82;
            border-radius: 10px;
            border: none;
            font-size: 18px;
            line-height: 20px;  
            color: #fff;
        }
    }
}

@media (max-width: 720px) {
    .parent__container {
        margin: 0 auto 0 auto;
        padding: 15px;
        border-radius: 10px 10x 0px 0px;
    }

    .container {

        .container__title {
            text-align: center;
            margin: 0 0 15px 0;
        }

        .booking {
            justify-content: center;

            .cell {
                min-height: 50px;
                width: 80%;
                flex: 0 2 auto;
            }
            .form_input_wrap {
                flex: 0 1 auto;
            }
            .address {
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-line;
            }
            .guests {
                border-radius: 0 0 10px 10px;
            }
            .btn {
                margin: 10px 0 0 0;
                min-width: 80%;
                min-height: 52px;
            }
        }
    }

}