@import "/styles/adaptive/breackpoints.scss";

%input {
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-left: 20px;
    flex: 1 1 100%;
    display: block;
}


.parent__container {
    margin: 0 240px 0 240px;
    max-width: 76%;
    min-height: 201px;
    position: relative;
    bottom: 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 20px 20px 0px 0px;    
}

.container {
    margin:48px;

    .container__title{
        font-size: 18px;
        line-height: 21px;
        mix-blend-mode: normal;
    }
    
    .booking {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;

        .cell {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 0 1 auto;
            min-height: 72px;
            border: 1px solid rgba(231, 231, 242, 0.3);
        }
        .form_input_wrap {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 auto;
        }
        img {
            opacity: 0.7;
            max-width: 28px;
            max-height: 28px;
            margin-left: 20px;
        }
        .address {
            border-radius: 10px 0 0 10px;
        }
        .guests {
            border-radius:  0 10px 10px 0 ;
        }
        label, select, input {
            @extend %input;
        }
        select:hover {
            background-color: black;
        }
        input {
            line-height: normal;
            margin-right: 5px;
        }
        
        .btn {
            margin-left: 30px;
            min-width: 240px;
            min-height: 72px;
            background-color: #91CB82;
            border-radius: 10px;
            border: none;
            font-size: 18px;
            line-height: 20px;  
            color: #fff;
        }
    }
}

@include tablet {
    .parent__container {
        margin: 0;
        width: fit-content;
    }

    .container {
        margin: auto;
    }
}