@import "/styles/breackpoints.scss";

.container {
    max-width: 100%;
    padding-top: 45px;
    margin-bottom: 314px;
    position: sticky;
    top: 0;
    z-index: 2;
    background: none;
    backdrop-filter: blur(70px);    
}

.header {

    .header__burger {
        display: none;
    }

    .header__menu {
        padding: 0 0 20px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .header__title {
            display: block;
            font-size: 24px;
            font-weight: bold;
            line-height: 29px;
            max-width: 100%;
            text-decoration: none;
            color:#fff;
        }
                
        .menu__left, .menu__right{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;

            li {
                list-style: none;
                margin-right: 20px;
            }
            .header__link {
                text-decoration: none;
                color: #fff;
            }
        }

        h5 {
           font-size: 18px;
           line-height: 21px;
        }
    }
    
    .border {
        border-bottom: solid 1px #E7E7F2;
        width: 100%;
        opacity: 0.4;
    }
}

@include tablet {
    .container {
        max-width: 100%;
        margin-bottom: 150px;
    }
    .header{

        .header__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;

            &:before, 
            &:after {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
            }
            &:before{
                top: 0;
            }
            &:after{
                bottom: 0;
            }
            span {
                position: absolute;
                background-color: #fff;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
            }
        }
        .header__menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}