@import "/styles/adaptive/breackpoints.scss";

.home {
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  justify-content: flex start;
}

.title {
  flex: 0 0 100%;
  margin-bottom: 191px;

  h1 {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0.01em;
  }
  p {
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
  }
}

.card {
  flex: 0 0 100%;
  position: sticky;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 570px;
  max-height: 400px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(70px);
  border-radius: 16px 0px 0px 16px;

  .card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 36px;

    p{
      font-size: 20px;
      line-height: 20px;
      mix-blend-mode: normal;
      opacity: 0.5;   
    }
    h2{
      font-size: 36px;
      line-height: 135%;
    }
    .arrow {
      opacity: 0.8;
    }
    
  }

}

@include tablet {
  .home {
    flex-direction: column;
  
    .title {
      h1 {
        font-size: 50px;
        margin-bottom: 18px;
      }
      p {
        font-size: 17px;
      }
    }

    .card {
      justify-content: flex-end;
      margin-bottom: 18px;
    }
  }
}
